extends ./layout/index

block slider 
    .slider 
        h1 Río de Janeiro
        em Aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5
            .col-md-6 
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit tempora quidem voluptas laudantium beatae. Non consectetur hic iste vel quo quisquam, amet doloremque quasi, sapiente quidem dicta deserunt perspiciatis officia.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias aspernatur doloremque voluptate, maxime mollitia sint, commodi iure ut minima a assumenda sunt ex nisi nemo perspiciatis exercitationem eos. Nam, exercitationem.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Imagen Nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Cánada 
                        p.fecha 20 de Marzo de 2023 - 28 de Marzo de 2023
                        p.precio $2,500 USD

    .container 
        h2.mt-5.text-center Testimoniales 
        include ./layout/bloque_testimoniales