extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolorum aperiam necessitatibus distinctio? Voluptas placeat beatae dolores libero labore facere nesciunt eius ducimus. Sunt aliquid nobis, aut velit modi inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis minus optio culpa dolores quas, delectus iure illum odit ipsam, laudantium laborum, cum repellat? Temporibus repellendus non earum unde commodi facere?

                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe laudantium ratione voluptate corrupti ut impedit aliquam. Dolore, alias culpa? Amet repellendus unde non impedit. Quae repellat cupiditate ab quod magnam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellendus inventore quo eius provident excepturi aut quis minima dolor ducimus eveniet dicta laboriosam voluptatum necessitatibus enim placeat ab, dolores porro? 

                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, maxime voluptas sequi delectus, eveniet aliquid accusantium eius minus dicta perferendis sit! Ex, rem magnam! Ipsum earum consequuntur voluptates mollitia maiores! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, cupiditate ipsam, recusandae officia provident tenetur fuga accusantium, iste commodi nobis dolorum exercitationem harum minima unde laborum fugit nam. 

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae earum a deleniti reprehenderit architecto consectetur inventore quos sint, necessitatibus non cumque quam at, enim repudiandae, eius molestias? Quos, dolor fugiat!
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae earum a deleniti reprehenderit architecto consectetur inventore quos sint, necessitatibus non cumque quam at, enim repudiandae, eius molestias? Quos, dolor fugiat!
                
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae earum a deleniti reprehenderit architecto consectetur inventore quos sint, necessitatibus non cumque quam at, enim repudiandae, eius molestias? Quos, dolor fugiat!